.git
.gitignore
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
data/raw/*
data/quarantine/*
data/database/*.db
reports/*.xlsx
logs/*.log
.idea/
.vscode/\n